<div ng-app="myApp" ng-controller="testCtrl">


	
<object id="frame1" style="width:100%; height:50%;" data="http://www.africau.edu/images/default/sample.pdf" 
	 frameborder="0"></object>


	<object  id="frame2" style="width:100%; height:50%;" data="http://www.africau.edu/images/default/sample.pdf" 
	 frameborder="0"></object>
</div>


<script>

window.setInterval(function(){
 var controlElement = document.getElementById('frame1');
  var xoffset =  controlElement.scrollLeft;
  var yoffset = controlElement.scrollTop;
 var frame2 =document.getElementById('frame2');
 frame2.scrollTo(xoffset, yoffset);
}, 3000);


</script>

offsetParent.offsetHeight